<h1>Welcome to the all Encompassing Robot World</h1>

  <a href="/robots"><button type="button" class="btn btn-primary btn-lg">Robot Directory</button></a>
  <a href="/robots/new"><button type="button" class="btn btn-default btn-lg">Create Robot</button></a>
