<form action="/robots" method="post">
  <h3>Robot Creation Form</h3>
  <input type="text" name="robot[name]" placeholder="name"><br>
  <input type="text" name="robot[city]" placeholder="city"><br>
  <input type="text" name="robot[state]" placeholder="state"><br>
  <input type="text" name="robot[birthdate]" placeholder="birthdate"><br>
  <input type="text" name="robot[date_hired]" placeholder="date_hired"><br>
  <input type="text" name="robot[department]" placeholder="department"><br>
  <input  id="submit" type='submit' class="btn btn-warning"/>
</form><br>
<a href="/" class="btn btn-primary">Robot World Homepage</a><br>
